/* @font-face {
  font-family: "Noto Sans KR";
  font-weight: 200;
  src: url("..\fonts\NotoSansKR-Regular.otf") format("woff2");
}
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font {
  font-family: "Noto Sans KR", sans-serif;
} */
