
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Toffy - Tap off your Taste</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="static/tfgame/css/bootstrap4-neon-glow.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    
  </head>
  <body>

    <!-- ============ NAVBAR START ============ -->

        <div class="submitLogo">
            <a href="\"><img src="static/tfgame/images/logo-white1.png" alt=""></a>
        </div>

      <!-- ============ NAVBAR END ============ -->

      <!-- ============ SUBMIT START ============ -->

    <div class="card-body">
        <div class="submitForm">
            <div class="ht-tm-codeblock ht-tm-btn-replaceable ht-tm-element ht-tm-element-inner">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="_email" aria-describedby="_email" placeholder="Enter email">
                        <input type="username" class="form-control" id="_username" aria-describedby="_username" placeholder="Enter Username">
                        <input type="password" class="form-control" id="_password" aria-describedby="_password" placeholder="Enter password">
                    </div>
                </br>
                    <button type="submit" class="btn btn-primary _joinClass">Join</button>
                </form>
                <div id="_apiJoinClass">
                    <br>
                    <p>or</p>
                    <button type="submit" class="btn btn-primary _apiJoinClass1">Join With Google</button>
                    <button type="submit" class="btn btn-primary _apiJoinClass2">Join With Facebook</button>
                </div>
            </div>
        </div>
        
    </div>     

      <!-- ============ SUBMIT END ============ -->

    </body>
</html>